/* PostDetail.module.css */

.blogGraf {
  margin: 0 4rem 0 0;
  text-indent: 1.5rem;
  line-height: 2rem;
}

.postTitle {
  display: flex;
  align-items: center;
  gap: 40px;
}

.danger {
  border-color: red;
  color: red;
  background-color: pink;
}
.danger:hover {
  border-color: red;
  background-color: rgb(234, 133, 150);
}

button {
  max-height: max-content;
}
